@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    
}
body {
    margin: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 10%;
    margin: 0;
    background-color: #24252A;
}

.logo {
    cursor: pointer;
    color: #edf0f1;
    margin-right:auto ;
}
.nav-links{
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: #0088a9;
}
button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}
button:hover{
    background-color: rgba(0,136,169,0.5);
}

.intro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 90px 30px 90px;
    background-color: #24252A;
}
.intro-txt {
    display: flex;
    flex-direction: column;
    flex-flow: column-wrap;
    flex: 1;
    max-width: 574px;

}
.intro-img{
  height: 400px;
  width: 400px;
  border-radius: 50%;
}
.intro-heading {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin:0;
    font-family: "Roboto",arial;
}
.intro-txt p{
    font-size: 16px;
    color:#e5e7eb;
}

.content h2{
    display: block;
    text-align: center;
    color:#1F2937;
    font-weight: bolder;
    font-size: 36px;
}
.content-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.content-list div img{
    height: 230px;
    width: 300px;
    margin: 10px;
    border-radius: 10%;
}
.content-list div p {
    display: block;
    text-align: center;
    font-family: "Roboto", arial;
    font-weight: bold;
}
.quote-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 10px 200px;
}
.quote-txt {
    font-size: 30px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;

}
